<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Bootstrap Form Example</title>
  <style>   
    .btn-grey {
      background-color: grey;
      color: white; 
    }
  </style>
</head>
<body>
    {% include 'investments/navbar.html' %}  
  
<div class="container mt-5">      
        {% if success_msg %}
        <p style="color: green;">{{success_msg}}</p>
        {% endif %}       
    <form method="post" action="">    
    {% csrf_token %}      
    <label for="financial_product_dd">Choose Investment Product</label>
    <select class="form-control" id="user" name="financial_product_dd">
        <!-- Populate this with Django user options -->
        <option value="Fixed Deposit">Fixed Deposit</option>
        <option value="Stocks">Stocks</option>
        <option value="Debenture">Debenture</option>        
        <option value="Mutual Funds">Mutual Funds</option>
        <option value="Others">Others</option>
        <!-- Add more options as needed -->
    </select>
    <div class="form-group">
        <label for="financial_product">Financial Institution</label>
        <input type="text" class="form-control" id="financial_institution" name="financial_institution">
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number"step="any" class="form-control" id="amount" name="amount">
      </div>
    <div class="form-group">
      <label for="rate_of_interest">Rate of Interest</label>
      <input type="number" step="any" class="form-control" id="rate_of_interest" name="rate_of_interest">
    </div>

    <div class="form-group">
      <label for="interest_payout_frequency">Interest Payout Frequency</label>
      <select class="form-control" id="interest_payout_frequency" name="interest_payout_frequency">
        <option value="monthly">Monthly</option>
        <option value="quarterly">Quarterly</option>
        <option value="half">Half-Yearly</option>
        <option value="annual">Annual</option>
        <!-- Add more options as needed -->
      </select>
    </div>

    <div class="form-group">
      <label for="date_of_investment">Date of Investment</label>
      <input type="date" class="form-control" id="date_of_investment" name="date_of_investment">
    </div>

    <div class="form-group">
      <label for="date_of_maturity">Date of Maturity</label>
      <input type="date" class="form-control" id="date_of_maturity" name="date_of_maturity">
    </div>

    <div class="form-group">
      <label for="crediting_bank_account">Crediting Bank Account</label>
      <input type="text" class="form-control" id="crediting_bank_account" name="crediting_bank_account">
    </div>
    <button type="submit" class="btn btn-primary btn-grey">Submit</button>   
  </form>
  <a class =move-right href="{% url 'home' %}">Back</a>    
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
